* {
    box-sizing: border-box;
}

.type {
    font-size: 1.5rem;
    letter-spacing: 5px;
    font-family: 'Bitter', serif;
    background-color: #FF7582;
    color: white;
    border-radius: 10px;
    padding-left: 1.5rem;
}

.starttime,
.endtime {
    font-size: 2.5rem;
    letter-spacing: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: #C56C86;
    color: white;
    border-radius: 10px;
    padding-left: 1.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    position: center;
    margin: 3px;
}

.endtime {
    background-color: #355C7D;
}

input[type=time],
input[type=date] {
    border: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}

input[type=time]::-webkit-datetime-edit-ampm-field {
    display: none;
}

.margindesign {
    width: 70%;
    margin: 80px 15% 0 15%;
}

.form-control {
    border: none;
}

button {
    width: 50px;
    background-color: #1A2D47;
}

button span {
    color: pink;
}

.margindesignnumber2 {
    margin-top: 80px;
    margin-left: 1rem;
    margin-right: 2rem;
}

.starttimezone,
.startday,
.startweekday,
.startdate,
.endtimezone,
.endday,
.endweekday,
.enddate {
    text-align: center;
    letter-spacing: 1px;
    padding-left: .8rem;
    padding-right: .8rem;
    font-family: 'Bitter', serif;
    background-color: #725A7A;
    color: white;
    border-radius: 10px;
    margin: .2rem;
}


/* ::placeholder { 
    opacity: 1;
  } */

.endtimezone,
.endday,
.endweekday,
.enddate {
    background-color: #355C7D;
    ;
}

.nav-link {
    color: #FF7582;
}

header {
    background-color: #355C7D;
    margin-bottom: 80px;
}

.until,
.until__title {
    font-family: "Baloo da 2", cursive;
}

#navigationLinks {
    margin-left: auto;
}

.nav-item {
    padding: 1rem;
}

.logo {
    width: 100px;
}

.fa-1x {
    font-size: 1.5rem;
}


/* .picture {
    background-image: url(../img/timetravel.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
} */


/*.text {
    background-color: #6A7EAD;
    color: white;
    width: 100%;
    position: absolute;
    height: auto;
}

.center {
    text-align: center;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.space {
    padding-left: 2rem;
    padding-right: 2rem;
} */

body {
    background-color: #1A2D47;
}


/*
.location-name {
    color: white;
    background-color: #FF7582;
    border-radius: 10px;
    font-family: 'Bitter', serif;
    margin-bottom: 25px;
}

.addLocation {
    color: white;
    background-color: #355C7D;
    border-radius: 10px;
    font-family: 'Bitter', serif;
    margin-bottom: 25px;
    margin-left: 20px;
}

.guide span {
    color: #FF7582;
}

.guide {
    display: flex;
    text-align: center;
    padding-top: 10rem;
    font-family: 'Bitter', serif;
    color: #725A7A;
    padding-left: 1rem;
    padding-right: 1rem;
}

footer {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    padding-top: 10rem;
    font-family: 'Bitter', serif;
    color: #725A7A;
    padding-left: 1rem;
    padding-right: 1rem;
} */


/*countdown default
.until__title {
    margin:auto;
    text-align: center;
    color:#C56C86;
}
.until{
    margin: auto;
    max-width: 450px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:1em;
    padding:1em;
    background:#355C7D;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    font-family: sans-serif;
}

.until__component{
    text-align: center;
    background: #ffffff;
    border-radius: 5px;
}

.until__numeric {
    color:#333333;
    padding:.5em 0;
    font-size:2em;
    font-weight: bold;
}

.until__unit {
    font-size: 1em;
    padding-bottom: 1em;
    font-weight: bold;
    color: #C56C86;
}

.until__event {
    grid-column: span 4;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
} */


/* Event List 
.wholeBackground {
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    margin: 0;
    font-size: 16px;
} */


/* .containerBox {
    /*grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.4fr 0.2fr 0.4fr 0.4fr;
    
    grid-template-areas: 
        "card1"
        "card2"
        "card3"
        "card4"
        "card5"
        "card6";
}  */


/* img{
    width: 75%;
    height: 75%;
    object-fit: cover;
    }

.card1 {
    grid-area: card1;
}

.card2 {
    grid-area: card2;
}

.card3 {
    grid-area: card3;
}

.card4 {
    grid-area: card4;
}

.card5 {
    grid-area: card5;
}

.card6 {
    grid-area: card6;
}

.card-text {
    display: none;
}

.containerFooter {
    color: white;
} */


/* Media Query 
@media (min-width: 768px) {
    nav {
        background-color:#355C7D; 
    }
    
    .time1 {
        font-size: 3rem;
        padding-left: 60px;
        padding-right: 60px;
    }
    
    .time2 {
        font-size: 3rem;
        padding-left: 60px;
        padding-right: 60px;
    }

    .nav-item {
        padding: 1rem;
    }
    
    .nav-link {
        color: white;
    }
    
    .logo {
        width: 150px;
        margin-left: 3rem;
    }

    .wholeBackground {
        font-family: 'Nunito Sans', 'Arial', sans-serif;
        font-size: 18px;
    }

    .card-text {
        display: inline;
    }

    .until{
        max-width: 700px;
    }

    .containerBox {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 0.6fr 0.6fr 0.8fr 0.8fr;
        grid-template-areas: 
        "card1 card1 card2 card2"
        "card5 card3 card3 card3"
        "card5 card6 card6 card4"
        "card5 card6 card6 card4";
        gap: 10px;
    }
}


@media (min-width: 992px) {
    
    #navigationLinks {
        margin-left: auto;
        display: inline-flex;
    }

    .time1 {
        font-size: 2rem;
        padding-left: 1px;
        padding-right: 1px;
    }
    
    .time2 {
        font-size: 2rem;
        padding-left: 1px;
        padding-right: 1px;
    }

    nav {
        background-color: #355C7D;
    }
    
    .nav-item {
        padding: 1rem;
    }
    
    .nav-link {
        color: #FF7582;
    }
    
    .logo {
        width: 200px;
    }
    
    /* .picture {
        background: url(../img/timetravel.jpg);
        width: 50%;
        position: absolute;
        background-size: cover;
        left: 0px;
        height: 100%;
    } */


/* .text {
        background-color: #6A7EAD;
        color: white;
        width: 50%;
        position: absolute;
        right: 0px;
        height: 100%;
    }
    
    .center {
        text-align: center;
        color: white;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    
    .space {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .wholeBackground {
        size: 100%;
        font-family: 'Nunito Sans', 'Arial', sans-serif;
        font-size: 20px;
    }

    .until{
        max-width: 800px;
        gap:2em;
        padding:2em;
    }
    
    .until__numeric {
        font-size:5em;
        font-weight: bold;
    }
    
    .until__unit {
        font-size: 2em;
        padding-bottom: 1em;
    }
} */