* {
    box-sizing: border-box;
}

body {
    background-color: #1A2D47;
}

.card-deck .card {
    flex-basis: 200px;
    margin-bottom: 30px;
    background-color: #FF7582;
    border-radius: 10px;
    color: white;
}

header {
    background-color: #355C7D;
    margin-bottom: 80px;
}

.logo {
    width: 100px;
}

.time1,
.time2 {
    font-size: 2rem;
    letter-spacing: 10px;
    font-family: 'Roboto', sans-serif;
    color: white;
    border-radius: 10px;
}

.time1 {
    background-color: #C56C86;
}

.time2 {
    background-color: #355C7D;
}

.date1,
.date2 {
    letter-spacing: .2px;
    padding-left: .3rem;
    padding-right: .3rem;
    font-family: 'Bitter', serif;
    color: white;
    border-radius: 10px;
}

.date1,
.TUE1 {
    background-color: #725A7A;
}

.date2,
.TUE2 {
    background-color: #355C7D;
}

.TUE1,
.TUE2 {
    letter-spacing: 1px;
    padding-left: .8rem;
    padding-right: .8rem;
    font-family: 'Bitter', serif;
    color: white;
    border-radius: 10px;
}

.location-name {
    color: white;
    background-color: #FF7582;
    border-radius: 10px;
    font-family: 'Bitter', serif;
    margin-bottom: 25px;
}

footer {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    padding-top: 10rem;
    font-family: 'Bitter', serif;
    color: #725A7A;
    padding-left: 1rem;
    padding-right: 1rem;
}