* {
    box-sizing: border-box;
}

body {
    background-color: #1A2D47;
}

/* header */
header {
    background-color: #355C7D;
    /* margin-bottom: 40px; */
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}

.logo {
    width: 50px;
}

.nav-link {
    color: #FF7582;
}

#navigationLinks {
    margin-left: auto;
}

.nav-item {
    padding-left: 1rem;
    padding-right: 1rem;
}

.fa-1x {
    font-size: 1.5rem;
}

/* home page */
.margindesign {
    width: 70%;
    margin: 40px 5% 0 5%;
    padding: 0px;
}

.eventTypeMarginDesign {
    margin: 0px;
} 

.eventType {
    font-size: 1rem;
    letter-spacing: .2rem;
    font-family: 'Bitter', serif;
    background-color: #FF7582;
    color: white;
    border-radius: 10px;
    width: 50%;
}

.timeContainer {
    padding: 0px;
}

.starttime,
.endtime {
    font-size: 1.5rem;
    letter-spacing: .6rem;
    font-family: 'Roboto', sans-serif;
    background-color: #C56C86;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 0.5rem 0;
    margin-bottom: .4rem;
}

input[type=time],
input[type=date],
input[type=text],
.form-control {
    border: none;
}

input[type="time"]::-webkit-calendar-picker-indicator,
input[type=time]::-webkit-datetime-edit-ampm-field,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

.starttimezoneCol,
.startweekdayCol,
.startdateCol,
.endtimezoneCol,
.endweekdayCol,
.enddateCol {
    text-align: center;
    letter-spacing: .2rem;
    padding-left: .8rem;
    padding-right: .8rem;
    font-family: 'Bitter', serif;
    font-size: .5rem;
    background-color: #725A7A;
    color: white;
    border-radius: 10px;
    margin-right: .2rem;
    margin-bottom: .2rem;
    height: 24px;
}

.startweekday,
.starttimezone, 
.startweekday,
.starttimezone,
.endweekday,
.endtimezone {
    padding-top: .4rem;
}

.startdate,
.enddate,
.startweekday,
.endweekday,
.starttimezone,
.endtimezone {
    background-color: #725A7A;
    color: white;
    font-size: .5rem;
    letter-spacing: .2rem;
    padding-top: .4rem;
    padding-left: 1.2rem;
}

.endtimezoneCol,
.enddayCol,
.endweekdayCol,
.enddateCol,
.enddate, 
.endtime,
.endweekday,
.endtimezone {
    background-color: #355C7D;
}

.width48 {
    flex: 0 0 auto;
    width: 47%;
}

.width90 {
    width: 90%;
    padding-left: 25%;
}

.input-txt {
    font-family: 'Bitter', serif;;
    font-size: 12px;
    /* not working, why?? */
    color: white;
}

textarea {
    height: 100px;
}

.material-icons {
    font-size: 16px;
}

button span {
    color: #FF7582;
}

::placeholder {
    color: white;
  }

/* countdown Page */
.until__title {
    font-family: "Baloo da 2", cursive;
    margin:auto;
    text-align: center;
    color:#C56C86;
}
.until{
    font-family: "Baloo da 2", cursive;
    margin: auto;
    max-width: 450px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:1em;
    padding:1em;
    background:#355C7D;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    font-family: sans-serif;
}

.until__component{
    text-align: center;
    background: #ffffff;
    border-radius: 5px;
}

.until__numeric {
    color:#333333;
    padding:.5em 0;
    font-size:2em;
    font-weight: bold;
}

.until__unit {
    font-size: 1em;
    padding-bottom: 1em;
    font-weight: bold;
    color: #C56C86;
}

.until__event {
    grid-column: span 4;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
} 

/* .picture {
    background-image: url(../img/timetravel.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
}

.text {
    background-color: #6A7EAD;
    color: white;
    width: 100%;
    position: absolute;
    height: auto;
}

.center {
    text-align: center;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.space {
    padding-left: 2rem;
    padding-right: 2rem;
}

.guide span {
    color: #FF7582;
}

.guide {
    display: flex;
    text-align: center;
    padding-top: 10rem;
    font-family: 'Bitter', serif;
    color: #725A7A;
    padding-left: 1rem;
    padding-right: 1rem;
} */

footer {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    padding-top: 10rem;
    font-family: 'Bitter', serif;
    color: #725A7A;
    padding-left: 1rem;
    padding-right: 1rem;
}


/* Media Query  */
@media (min-width: 768px) { 
    .logo {
        width: 100px;
    }

    .until{
        max-width: 700px;
    }
}

@media (min-width: 992px) {
    .margindesign {
        margin: 80px 15% 0 15%;
    }
    
    #navigationLinks {
        display: inline-flex;
    }
    
    .logo {
        width: 150px;
    }

    .until{
        max-width: 800px;
        gap:2em;
        padding:2em;
    }
    
    .until__numeric {
        font-size:5em;
        font-weight: bold;
    }
    
    .until__unit {
        font-size: 2em;
        padding-bottom: 1em;
    }
}
    
    /* .picture {
        background: url(../img/timetravel.jpg);
        width: 50%;
        position: absolute;
        background-size: cover;
        left: 0px;
        height: 100%;
    } */


/* .text {
        background-color: #6A7EAD;
        color: white;
        width: 50%;
        position: absolute;
        right: 0px;
        height: 100%;
    }
    
    .center {
        text-align: center;
        color: white;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    
    .space {
        padding-left: 2rem;
        padding-right: 2rem;
    }
} */